/**
 * Created by Mina on 21.02.2019.
 */

.primary-btn .button-block {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hor-line {
    width: 80%;
    margin-bottom: 20px;
}

.primary-button {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    outline: none;
}

.primary-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background-color: #476e9e;
}

.primary-button:active {
    position: relative;
    top: 1px;
}