.Select-control {
    border-radius: 4px;
    height: 28px;
    width: 94px;
}

.Select-input {
    height: 28px;
}
.Select--single > .Select-control .Select-value {
    line-height: 30px;
}
.Select-placeholder {
    top: -4px;
    line-height: 30px;
}

.Select-option {
    height: 28px;
}

.Select.has-value.is-clearable.Select--single  > .Select-control .Select-value {
    padding-right: 0px;
}

.Select-menu-outer {
    width: 94px;
}

.arrow_box {
    margin-top: 12px;
    position: relative;
    background: #88b7d5;
    height: 78px;
    width: 200px;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
}

.arrow_box:after {
    border-bottom-color: #88b7d5;
    border-width: 11px;
    margin-left: -90px;
}

.title {
    padding-left: 11px;
    padding-top: 10px;
}

.select_box {
    display: flex;
    justify-content: space-between;
    max-width: 195px;
    padding-left: 5px;
    padding-top: 10px;
}

.message-enter {
    max-height: 0px;
    transition: width .3s ease-out,height .3s ease-out,max-height .3s ease-out;
}
.message-enter-active {
    height: 78px;
    max-height: 100px;
}

.message-exit {
    opacity: 1;
    transform: scale(1) rotateX(0);
    transform-origin: top left;
}

.message-exit-active {
    opacity: 0.01;
    transform: scale(1) rotateX(25deg);
    transition: all 300ms ease-out;
}


.radio-button-left:disabled, .radio-button-right:disabled{
    background-image: linear-gradient(to top,#969696,#727272);
    box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: default;
    color: #E6E6E6;
    border-color: transparent;
    text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
}

.radio-button-left  {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: transparent;
    border-width: thin;
    box-shadow: inset 0 -8px 9px rgba(41, 41, 41, 0.2)
}

.radio-button-right  {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: transparent;
    border-width: thin;
    box-shadow: inset 0 -5px 9px rgba(10, 41, 34, 0.2)
}

.head{
    display: flex;
    justify-content: space-between;
}
.radio_buttons_currency{
    padding-top: 10px;
}
