.sign_up_title{
    text-align: center;
}

.sign_up_label{
    font-size: 14px;
}

.input_sign_up, .input_error {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    height: 38px;
    font-family: Arial;
    width: 100%;
}

.input_sign_up:focus {
    border: 1.5px solid #007eff !important;
}

.input_error {
    border: 1.5px solid #ff3a29;
}

.sign_up_item {

}

.sign_up_field {
    margin-bottom: 5px;
}